NODE_ENV="development"
PORT=3002
JWT_SECRET=your_secret

NEXT_PUBLIC_APP_NAME="Next JS Starter"
NEXT_PUBLIC_SITE_URL=http://localhost:3002
BACKEND_URL=http://localhost:3000
BACKEND_API_KEY=your_secret
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_API_KEY=your_secret